<.flash_group flash={@flash} />
<%= if @current_user do %>
  OH MY GOSH YOU ARE LOGGED in...
<% else %>
  <div class="container">
You need to login: <.link href={@login_path}>Login To Twitch</.link>
  </div>
<% end %>
